body {
    background:silver;
    
    
    
}
header{
    background:red;
    color: white;
}
nav{
    background:green;
    float: left;
    height: 400px;
    width: 100px;
    color:white;
}
main{
    background: yellow;
    height: 400px;
}
article{
    background: white;
    margin: 0 50px 0 150px;
    
}
footer{
    background: blue;
    color:white;
    clear:left;
    margin: 20px 0 0 0;
}