body{
    background:silver;
    
}
header {
    background: yellow;
    height: 50px;
    font-family: Verdana;
}

nav {
    background: white;
    width: 200px;
    height: 150px;
    font-family: Verdana;
    float: right;

}

article {
    background: blue;
    font-family: Verdana;
    color: white;
}

footer {
    background: yellow;
    font-family: Verdana;
    clear:right;
    height:50px;
}